#section--dogs__title {
  background-image: url("../../img/dogs/photo-1489440543286-a69330151c0b.jpeg");
  background-size: cover;
}

#section--dogs__title hr {
  border-style: solid;
  animation: hr;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
@keyframes hr {
  0% {
    width: 40%;
  }
  100% {
    width: 100%;
  }
}
#section--dogs__main {
  padding: 2rem;
}
.dogs--slates-1 {
  display: grid;
  grid-template-areas:
    "chosen chosen slate slate"
    "chosen chosen slate slate";
  grid-template-rows: 40vh 40vh;
  grid-gap: 2rem;
}
.dogs--slates-2 {
  display: grid;
  grid-template-areas: "slate slate slate";
  grid-template-rows: 30vh 30vh;
  grid-gap: 4rem 2rem;
}

#dogs--main__text {
  grid-area: main;
  align-self: center;
  padding: 2rem;
  font-size: 1.5rem;
}
.dog--slate {
  grid-area: slate;
}
#dog--slate {
  color: var(--color-gray);
}
#dogs--main__dog {
  grid-area: main;
  height: 100%;
}
#dogs--main__dog img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.chosen-dog {
  /*grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;*/

  animation-duration: 2s;
  animation-fill-mode: forwards;
  grid-area: chosen;
}
@keyframes chosen {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2) translateY(20%);
  }
}
